<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.ws.mapper.teacher.TeacherNotesMapper" >
<!-- Result Map-->
<resultMap id="BaseTeacherNotesMap" type="com.yh.model.teacher.TeacherNotesModel" >
	<result column="teacher_notes_id" property="teacherNotesId"/>
	<result column="type" property="type"/>
	<result column="login_name" property="loginName"/>
	<result column="title" property="title"/>
	<result column="content" property="content"/>
	<result column="create_time" property="createTime"/>
	<result column="submit_time" property="submitTime"/>
	<result column="update_time" property="updateTime"/>
	<result column="flag_del" property="flagDel"/>
	<result column="state" property="state"/>
	<!-- <result column="contribute" property="contribute"/> -->
</resultMap>
   
<sql id="TeacherNotes_Column_List" >
`teacher_notes_id`,`type`,`login_name`,`title`,`content`,`create_time`,`submit_time`,`update_time`,`flag_del`,`state`<!-- ,`contribute` -->
</sql>
   
<!-- 查询教学笔记列表-->
<select id="queryTeacherNotesList" resultMap="BaseTeacherNotesMap">
	select 
	<include refid="TeacherNotes_Column_List"/>
	from tb_teacher_notes  
	<where> flag_del  =  0 and login_name=#{teacherNotes.loginName}
	  <if test="teacherNotes.title != null and teacherNotes.title != ''">
	    And title like concat(concat('%',#{teacherNotes.title}),'%')
	  </if>
	    limit #{page.pageIndex},#{page.pageSize} 
</where>
</select>
<select id="queryDataCount" resultType="java.lang.Integer">
	select 
 	count(*) as dataCount 
 	from tb_teacher_notes
	<where>flag_del = 0  and login_name=#{loginName}
	<if test="title != null and title != ''">
	  and title like concat(concat('%',#{title}),'%')
	</if>
	</where>
</select>

<!-- 删除教学笔记-->
<update id="deleteTeacherNotes">
	update tb_teacher_notes set flag_del=1 where teacher_notes_id=#{teacherNotesId}
</update>

<!-- 根据ID查询教学笔记列表-->
<select id="queryTeacherNotesById" resultMap="BaseTeacherNotesMap">
	select 
	 <include refid="TeacherNotes_Column_List"/> 
	 from tb_teacher_notes where teacher_notes_id = #{0}
</select>

<!-- 添加教学笔记-->
<insert id="addTeacherNotes">
    insert into tb_teacher_notes (teacher_notes_id,type,login_name,title,content,create_time,submit_time,flag_del,state<!-- ,contribute -->) 
    values(#{teacherNotesId},#{type},#{loginName},#{title},#{content},now(),now(),#{flagDel},#{state}<!-- ,#{contribute} -->)
</insert>

<!-- 修改公告-->
<!-- <update id="updataCircular">
update tb_circular 
	<trim prefix="SET" suffixOverrides=",">
		<if test="dicId !=null and dicId !=''">
			dic_id = #{dicId},
		</if>
		<if test="title !=null and title !=''">
			title = #{title},
		</if>
		<if test="content !=null and content !=''">
			content = #{content},
		</if>
		<if test="submitTime !=null">
			submit_time = #{submitTime},
		</if>
		<if test="updateTime !=null">
			update_time = #{updateTime},
		</if>
		<if test="state !=null and state !=''">
			state = #{state},
		</if>
	</trim>
where circular_id=#{circularId}
</update>
 -->
 
 <!-- 教学笔记添加教师-->
<!-- <insert id="teacherNotesBindTeacher">
insert into tb_teachernotes_teacher(teacher_notes_teacher_id,teacher_notes_id,teacher_id) 
values(#{id},#{teacherNotesId},#{teacherid});
</insert> -->
</mapper>
