<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.ws.mapper.teacher.TeacherJournalMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.yh.model.teacher.TeacherJournalModel" >
	<result column="journal_id" property="id"/>
	<result column="title"  property="title"/>
	<result column="content" property="content"/>
	<result column="start_time" property="start"/>
	<result column="update_time" property="updateTime"/>
	<result column="end_time" property="end"/>
	<result column="flag_del" property="flagDel"/>
	<result column="state" property="state"/>   
</resultMap>

<sql id="Base_Column_List" >
`journal_id`, `title`, `content`, `start_time`, `end_time`,`update_time`, `flag_del`, `state`
</sql>

<!-- 教师日志查询列表-->
<select id="queryteacherJournalList" resultMap="BaseResultMap" >
	select
	 <include refid="Base_Column_List"/>
	from tb_teacher_journal
	  <where> 
	  flag_del = 0
	  </where>
</select>
<!-- 教师日志查询列表添加-->
<!-- 添加 -->
<insert id="addJournal">
	insert into tb_teacher_journal(`journal_id`, `title`, `content`, `start_time`, `end_time`,`update_time`, `flag_del`, `state`)
	values(#{id},#{title},#{content},#{start},#{end},now(),#{flagDel},#{state})
</insert>
<update id="updataJournal">
update tb_teacher_leave 
	<trim prefix="SET" suffixOverrides=",">
		<if test="id !=null and id !=''">
			journal_id = #{id},
		</if>
		<if test="title !=null and title !=''">
			title = #{title},
		</if>
		<if test="content !=null and content !=''">
			content = #{content},
		</if>
		<if test="start !=null">
			start_time = #{start},
		</if>
		<if test="end!=null">
			end_time = #{end},
		</if>
		<if test="updateTime!=null">
			update_time = #{updateTime},
		</if>
			<if test="flagDel !=null and flagDel !=''">
			flag_del = #{flagDel},
		</if>
		<if test="state !=null and state !=''">
			state = #{state},
		</if>
	</trim>
where journal_id=#{id}
</update>
<!-- 根据id删除 -->
<update id="deleteJournalById">
	update tb_teacher_leave set flag_del=1 where journal_id=#{id}
</update>

</mapper>   
